@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  color: #FCFCFC;
  font-family: 'Montserrat';
}

body{
  background-color: #121212;
}

li{
  list-style-type: none;
  text-decoration: none;
}

.btn-primary{
  background-color: #FED330 !important;
}

#homepage{
  height: 97vh;
  width: 100%;
}

#addform{
  height: 97vh;
}

.header{
  height: 15vh;
}

.content{
  height: 80vh;
}

.footer{
  height: 3vh;
  background-color: #FED330;
  color: #121212;
}

.home-title{
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
}

.section-title{
  font-size: 2em;
  font-weight: 700;
}

.link{
  color: #FED330;
  text-decoration: none;
  cursor: pointer;
}

.add-link{
  font-size: 3em;
  position: absolute;
  bottom: 55px;
  right: 45px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FED330;
  color: #FCFCFC;
  font-weight: 1900;
  text-align: center;
  vertical-align: middle;
}

.add-link:hover{
  color: #121212;
}

.link:hover{
  color: #F7B731;
}

.btn-info{
  color: #FCFCFC;
  position: absolute;
  bottom: 55px;
  left: 20px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: none;
}

.btn-info:hover{
  color: #FCFCFC;
}

#tooltip{
  position: absolute;
  left: 100px;
  bottom: 40px;
  font-size: .8em;
}


@media screen and (max-width:992px) {
  .home-title{
    font-size: 2em;
  }

  .section-title{
    font-size: 1.5em;
  }

  .btn-primary{
    bottom: 40px;
    width: 50px;
    height: 50px;
  }

  .add-link{
    font-size: 2.2em;
    /* font-weight: 700; */
    bottom: 40px;
    right: 50px;
    width: 50px;
    height: 50px;
  }
}
